body {
  font-family:Arial, Helvetica, sans-serif
  margin: 20px auto;
  background-color: white;
  display: flex;
  justify-content: center;
}

.container {
  width: 600px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 16px;
}

.avatar {
  width: 32px;
  height: 30px;
  margin: 15px;
  background-color: #c7c7c7;
}

.username {
  font-weight: bold;
  font-size: 14px;
}

.post-image img {
  width: 100%;
  display: block;
  background-color: #d8d8d8;
}

.postacoes {
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.interacoes i {
  margin-right: 8px;
  cursor: pointer;
  font-size: 24px;
}
.postconteudo {
  padding: 10px;
}

.likes {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
}

.comentarios {
  font-size: 14px;
  line-height: 1.4;
}
